.w-100 {  width: 100% !important;
		  height: 40vh;
		 
		}
body {
  --table-width: 100%; /* Or any value, this will change dinamically */
}
tbody {
  display:block;
  max-height:500px;
  overflow-y:auto;
}
thead, tbody tr {
  display:table;
  width: var(--table-width);
  table-layout:fixed;
}

h5 {

  white-space: nowrap;
}

.bg-image{
	
	background-size:cover;
	
}

.checked {
  color: orange;
}

.my-starbtn {
	
	background-color:inherit !important;
	border:0 !important;
	
}

.poundYes {
      color: green;
	  font-size: 18px;
	  font-weight: bold;
   }
   
.poundNo {
      
	  font-size: 18px;
	  font-weight: bold;
   }
   
.CityDetails{
	
	height:150px;
	overflow-y:auto;
}

.google{
	
	width:100%;
	height:50vh;
}