{% extends 'UKCB/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add a Review
{% endblock %}

{% block body_block %}

		<h1>Add Review</h1><br/>
		<div class="row">
			<div class="col-md-5">
			
			<h5>{{ city.Name }}:</h5>
				<img src="{{ MEDIA_URL }}{{city}}.jpg" alt="Picture of {{city}}"
				width="300" height="300"/>
			</div>
			<br>
			
			<div class="col-md-5">	
				<div class="container">	
				
				
							
				
					<br>
					<form class="form-group" id="review_form" method="POST" action="{% url 'UKCB:add_review' city.slug %}">
						{% csrf_token %}
						
		
						
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
						{% for field in form.visible_fields %}
						<div class="row">
						
							
							
							{{ field.label }}
							{{ field }}
						</div>
						<br/>
						{% endfor %}
						<br/>
						<input type="submit" name="submit" value="Create Review" />
					</form>
				</div>
			</div>
		</div>
	
{% endblock %}