{% extends 'UKCB/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add a Review
{% endblock %}

{% block body_block %}

		<h1>Add Review</h1><br/>
		<div class="row">
			<div class="col-5 align-self-start">
				<img src="{{ MEDIA_URL }}{{city}}.jpg" alt="Picture of {{city}}"
				width="300" height="300"/>
			</div>
			<div class="col-7 align-self-start">	
				<div class="container-sm">	
				<h1>{{ city.Name }}</h1>				
					<form class="form-group" id="review_form" method="POST" action="{% url 'UKCB:add_review' city.slug %}">
						{% csrf_token %}
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
						{% for field in form.visible_fields %}
						<div class="row">
							{{ field.errors }}
							{{ field.help_text }}
							{{ field }}
						</div>
						<br/>
						{% endfor %}
						<br/>
						<input type="submit" name="submit" value="Create Review" />
					</form>
				</div>
			</div>
		</div>
	
{% endblock %}