<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>
	<head>
		<title>UKCityBreaks - AllCities</title>
	</head>
	<body>
		<h1>All Cities</h1>
		<div>
			here is the AllCities page <br />
		<strong>{{ boldmessage }}</strong><br />
		</div>
		<div>
			<a href="/UKCB/">Home</a><br />
			<img src="{% static 'images/UKFlag.jpg' %}" alt="Picture of UK Flag" /> <!-- New line -->
			<img src="{{ MEDIA_URL }}UkraineFlag.jpg" alt="Picture of Ukraine Flag" /> <!-- New line -->
		</div>
	</body>
</html>