<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>
	<head>
		<title>UKCityBreaks</title>
	</head>
	<body>
		<h1>UKCityBreaks</h1>
		<div>
			hey there partner! <br />
		<strong>{{ boldmessage }}</strong><br />
		</div>
		<div>
			{% if cities %}
				<ul>
				{% for city in cities %}
				
					<li>
					<!-- The following line is changed to add an HTML hyperlink -->
					<a href="/UKCB/City/{{ city.slug }}/">{{ city.Name }}</a>
					</li>

				{% endfor %}
				</ul>
			{% else %}
				<strong>There are no cities present.</strong>
			{% endif %}
		</div>
		<div>
			<a href="/UKCB/AllCities/">AllCities</a><br />
			<img src="{% static 'images/UKFlag.jpg' %}" alt="Picture of UK Flag" /> <!-- New line -->
		</div>
	</body>
</html>
