{% extends 'UKCB/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
<h1>Login to UKCityBreaks</h1>

<form id="login_form" method="post" action="{% url 'UKCB:login' %}">
  {% csrf_token %}
  <div class="mb-3">
    <label for="UserInput" class="form-label">Username</label>
    <input input type="text" name="username" class="form-control" id="UserInput">
    
  </div>
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Password</label>
    <input name = "password" type="password" class="form-control" id="InputPassword">
	<div class="form-text">We'll never share your password with anyone else.</div>
	<br>
	<button type="submit" class="btn btn-primary" value="submit">Submit</button>
</form>


{% endblock %}