{% extends 'UKCB/base.html' %}
{% load staticfiles %}

{% block title_block %}
	UKCityBreaks - AllCities
{% endblock %}


{% block body_block %}
		<h1>All Cities</h1>
		<div>
			Here is the AllCities page <br />
		<strong>{{ boldmessage }}</strong><br />
		</div>
		<div>
			
			{% if Reviews %}
			<br>
			<strong>Here are your reviews, {{ user.username }}.</strong>
			<ul>
				
				{% for Review in Reviews %}
				<li>Rating: {{ Review.Rating }} Price: {{ Review.Price }} Text: {{ Review.Text }}</</li>
		
				{% endfor %}
			</ul>
			{% else %}
				<strong>No Reviews currently for {{ user.username }}.</strong>
			{% endif %}
		</div>
		
{% endblock %}