{% extends 'UKCB/base.html' %}
{% load staticfiles %}

{% block title_block %}
	AccountPage
{% endblock %}


{% block body_block %}
		<h1>Account Details</h1>

		<div>
			
			{% if Reviews %}
			<br>
			<p>Here are your reviews, <strong>{{ user.username }}:</strong> </p>
			
			<div  class="table table-striped table-bordered">
				<table class="table">
				  <thead>
					<tr>
					  <th scope="col">Rating</th>
					  <th scope="col">Price</th>
					  <th scope="col">Comment</th>
					</tr>
					</thead>
					
					<tbody>
						{% for Review in Reviews %}
						
							<tr>
							  <th scope="col"><p>{{ Review.Rating }}</p></th>
							  <th scope="col"><p>{{ Review.Price }}</p></th>
							  <th scope="col"><p>{{ Review.Text }}</p></th>
							</tr>
						
						
						{% endfor %}
				
					</tbody>
				</table>
			</div>

			{% else %}
			
			<p>No Reviews currently for, <strong>{{ user.username }}.</strong> </p>
				
			{% endif %}
		</div>
		
		
{% endblock %}
