{% extends 'UKCB/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
<h1>Register for UKCityBreaks</h1>


{% if user_form.errors %}


<div class = "alert alert-warning alert-dismissible fade show" role = "alert"> There was an error with your form.. 
<button type ="button" class ="btn-close" data-bs-dismiss = "alert" aria-label ="close"></button> 
</div>
{% endif %}

UKCityBreaks: <strong>register here!</strong><br />
<form id="user_form" method="post" action="{% url 'UKCB:register' %}"
	enctype="multipart/form-data">

	{% csrf_token %}

	<!-- Display each form -->
	{{ user_form.as_p }}
	

	<!-- Provide a button to click to submit the form. -->
	<input type="submit" name="submit" value="Register" />
</form>

{% endblock %}